<!DOCTYPE html>
<html>
<body>
<article data-th-fragment="subscription-info" class="p-6 w-full h-full flex flex-col">
    <h6 class="uppercase text-blueGray-400 mb-3 text-xs font-semibold">
        Overview:
    </h6>
    <hr class="w-full">
    <div class="w-full h-full p-3 flex flex-wrap items-center justify-evenly">
        <div data-th-replace="components/subscription-info/subscription-info-card :: subscription-info-card(cardTitle='Clicks')"></div>
        <div class="h-full border border-2"></div>
        <div data-th-replace="components/subscription-info/subscription-info-card :: subscription-info-card(cardTitle='Affiliates')"></div>
        <div class="h-full border border-2"></div>
        <div data-th-replace="components/subscription-info/subscription-info-card :: subscription-info-card(cardTitle='Links')"></div>
    </div>
</article>
</body>
</html>