<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<article th:fragment="personal-plan-info" class="p-6 w-full h-full flex flex-col">
    <h6 class="uppercase text-blueGray-400 mb-3 text-xs font-semibold">
        Selected plan <b class="mx-2">|</b> payment methods:
    </h6>
    <hr class="w-full mb-4">
    <div class="flex-1 personal-plan-grid">
        <div>Asd</div>
        <div>Asd</div>
        <div class="h-full border border-2"></div>
        <div>Asd</div>
        <div>Asd</div>
    </div>
</article>
</body>
</html>