<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header class="page-header" th:fragment="navbar">
        <nav>
            <a aria-label="forecastr logo" class="logo" href="/access/login">
                <img id="logo-image" class="mx-auto" src="/images/logo/affiliora-light.png">
            </a>
            <button aria-expanded="false" aria-label="open menu" class="toggle-mob-menu">
                <svg aria-hidden="true" height="20" width="20">
                    <use xlink:href="#down"></use>
                </svg>
            </button>
            <ul class="admin-menu">
                <li th:replace="components/navbar/navbar-item :: navbar-item(isHeading=true, text='Explore')"></li>
                <li th:replace="components/navbar/navbar-item :: navbar-item(isHeading=false, text='Marketplace', icon='shopping-cart')"></li>
                <li th:replace="components/navbar/navbar-item :: navbar-item(isHeading=false, text='Trends', icon='compass')"></li>
                <li th:replace="components/navbar/navbar-item :: navbar-item(isHeading=true, text='Affiliate')"></li>
                <li th:replace="components/navbar/navbar-item :: navbar-item(isHeading=false, text='Dashboard', icon='area-chart', href='/dashboard')"></li>
                <li th:replace="components/navbar/navbar-item :: navbar-item(isHeading=false, text='My Affiliates', icon='male')"></li>
                <li th:replace="components/navbar/navbar-item :: navbar-item(isHeading=false, text='My Links', icon='link')"></li>
                <li th:replace="components/navbar/navbar-item :: navbar-item(isHeading=false, text='Discussion', icon='comment-o')"></li>
                <li th:replace="components/navbar/navbar-item :: navbar-item(isHeading=true, text='Account')"></li>
                <li th:replace="components/navbar/navbar-item :: navbar-item(isHeading=false, text='Profile', icon='user', href='/profile')"></li>
                <li th:replace="components/navbar/navbar-item :: navbar-item(isHeading=false, text='Notifications', icon='bell', href='/profile')"></li>
                <li th:replace="components/navbar/navbar-item :: navbar-item(isHeading=false, text='Settings', icon='cogs', href='/settings')"></li>
                <li th:replace="components/navbar/navbar-item :: navbar-item(isHeading=false, text='Logout', icon='sign-out', href='/access/login')"></li>
                <li>
                    <div class="switch">
                        <input checked id="mode" type="checkbox">
                        <label for="mode">
                            <span></span>
                            <span>Dark Mode</span>
                        </label>
                    </div>
                    <button aria-expanded="true" aria-label="collapse menu" class="collapse-btn">
                        <i class="w-10 text-center fa fa-angle-double-left"></i>
                        <span>Collapse</span>
                    </button>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>