<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/base :: base(title='Affiliora | Profile')">
<body>
<section class="grid" th:fragment="content">
  <article th:replace="components/personal-info/personal-info :: personal-info"></article>
  <article th:replace="components/personal-region-language-info/personal-region-language-info :: personal-region-language-info"></article>
  <article th:replace="components/personal-activity/personal-activity :: personal-activity"></article>
  <article th:replace="components/personal-plan-info/personal-plan-info :: personal-plan-info"></article>
</section>
</body>
</html>