<!DOCTYPE html>
<html data-th-include="layouts/access :: access(title='Affiliora | Login')">
<body>
<form data-th-fragment="content" data-th-action="@{/dashboard}" class="content w-screen h-screen" method="get"
      onsubmit="beforeSubmit('#login-button')">
    <div data-aos="fade-zoom-in"
         data-aos-easing="ease-in-back"
         data-aos-duration="150"
         data-aos-offset="0"
         class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
        <div class="mb-4">
            <img id="logo-image" class="mx-auto" src="/images/logo/affiliora-dark.png">
        </div>
        <h1 class="mb-4 pt-2 text-center text-primary">
            Welcome back 👋
        </h1>
        <hr class="mb-1">
        <hr class="mb-4">
        <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
                <span class="mr-2">✉</span>️ Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="email"
                   placeholder="Enter your email..." type="email">
        </div>
        <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                <span class="mr-2">🔒</span> Password
            </label>
            <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
                   id="password" placeholder="******************" type="password">
            <p class="text-red text-xs italic"><sup class="mr-1">Tip: </sup> Never tell anyone your password.</p>
        </div>
        <hr class="mb-4">
        <div class="flex items-center justify-between mb-4">
            <button class="w-28 font-bold py-2 px-4 rounded bg-link text-secondary shadow"
                    type="submit"
                    id="login-button">
                <i class="fa fa-sign-in mr-2"></i>
                Log in
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-link" href="#">
                Forgot Password?
            </a>
        </div>
        <hr class="mb-1">
        <hr class="mb-4">
        <div class="flex items-center justify-center">
            <a class="inline-block align-baseline font-bold text-sm text-link" href="/access/register">
                <i class="fa fa-plus"></i>
                Create new account
            </a>
        </div>
    </div>
</form>
</body>
</html>