<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/base :: base(title='Affiliora | Dashboard')">
<body>
<section class="grid" th:fragment="content">
    <article></article>
    <article th:replace="components/chart/chart :: chart(chartId='total-leads-bar-chart', chartTitle='Total leads by year', chartSubtitle='Statistics')"
            class="flex justify-evenly">
    </article>
    <article th:replace="components/chart/chart :: chart(chartId='total-sales-bar-chart', chartTitle='Total conversions by year', chartSubtitle='Statistics')"
             class="flex justify-evenly">
    </article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
</section>
</body>
</html>