@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');

:root {
  --page-header-bgColor: #1B1B1E;
  --page-header-bgColor-hover: #373F51;
  --page-header-txtColor: #A9BCD0;
  --page-header-headingColor: #7889a4;
  --page-header-width: 220px;
  --page-content-bgColor: #D8DBE2;
  --page-content-txtColor: #373F51;
  --page-content-blockColor: #F1F2F4;
  --white: #EEE5E9;
  --black: #000;
  --light-steel-blue: #6D8CAE;
  --blue: #58A4B0;
  --red: #ec1848;
  --border-radius: 4px;
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
  --switch-bgLightModeColor: #A9BCD0;
  --switch-sunColor: D1CCA9;
  --switch-moonColor: #E2E2D9;
  --switch-bgDarkModeColor: #373F51;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1.5 "Poppins", sans-serif;
}

.text-primary {
    color: var(--page-content-txtColor);
}

.text-success {
    color: var(--light-steel-blue);
}

.text-danger {
    color: var(--red);
}

.text-secondary {
    color: var(--white);
}

.text-disabled {
    color: var(--page-header-txtColor);
}

.text-link {
    color: var(--blue);
}

.bg-link {
    background: var(--blue);
}

.bg-dark {
    background: var(--page-header-bgColor);
}

.bg-disabled {
    background: var(--page-header-txtColor);
}

.border-disabled {
    border-color: var(--page-header-txtColor);
}